div {
	.section-6-image {
		padding-left: 0px;
		display: flex;
		gap: 2rem;
		li {
			list-style: none;
			margin: 15px;
			img {
				width: 180px;
				border-radius: 100%;
			}
			p {
				margin-top: 20px;
				width: 180px;
				display: flex;
				justify-content: center;
			}
		}
	}
}
