.header_block{
    display: flex;
    align-items: center;
}
.nav_head{
    display: flex;
    align-items: center; 
    gap: 40px;
    margin-left: 60px;
    li{
        list-style: none;
        text-decoration: none;
        color: var(--gray-800, #424551);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
       
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        &:hover{
            color: #FF4242;
        }
    }
}

.Seerch_header{
    display: flex;
    width: 380px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin-left: 133px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--white, #FFF);
    input{
        color: var(--gray-600, #9A9CA5);

        /* small/regular */
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        outline: none;
        border: none;
    }
}
.heart,.card{
    display: flex;
    align-items: center;
    gap: 8px;
    h1{
        color: var(--gray-800, #424551);

        /* base/regular */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }
}

.line_header{
    width: 2px;
    height: 22px; 
    margin: 0 20px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
   
}
.heart{
    margin-left: 48px;
}
.header{
    margin: 20px 0;
}