.woman-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	margin-top: 3rem;
	.woman-content {
		width: 915px;
		height: auto;
		margin: 0 auto;
		.woman-sort {
			display: flex;
			justify-content: space-between;
			.sort-button {
				display: flex;
				gap: 2rem;
				> button {
					font-size: 14px;
					font-weight: 700;
					display: flex;
					align-items: center;
					padding: 10px;
					gap: 59px;
					border: none;
					border-radius: 4px;
					background: #d7dadd;
					color: #424551;
				}
			}
		}
	}
}
